.formgroup{
   
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    padding: 7px 0;
    margin-left: 50px;;
}
.formgroup label{
	margin: 10px;


}

.gender{
    display: flex;
    justify-content: space-between;
}