// imports
@import "partials/colors";

.tips {
    li{
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    background-color: color(accent-primary) ;
    border-radius: 1rem;
    color: color(text-secundary);
    transition: background 1s ease, color 1s ease;
    list-style: none;
    

    &:hover{
        background: color(accent-light);
        color: color(text-primary);
        transition: background 1s ease, color 1s ease;

    }

}



}






@media only screen and (max-width: 770px) {
    
}
@media only screen and (max-width: 420px) {
    

}